# Dependencies
node_modules/

# Build outputs
/bin/

# Package files
package.json
bun.lock

# OS files
.DS_Store

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

*.db
*.db-*

/ratelord
/ratelord-d
/ratelord-tui
/ratelord-sim
daemon_pid.txt
